.App {
  text-align: center;
}
body {
  background-color: #121212;
  color: white; 
}
.taskBackground {
  background-color: #555;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  border-radius: 6px;
  margin-bottom: 20px;

}
.taskBackground .isDone .taskText {
  opacity: 0.25;
  text-decoration: line-through;
}
.taskBackground .taskText {
  flex: 1;
}
.taskRank {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  display: flex; 
  
  
}
