h2{
   font-family: Helvetica, Georgia, sans-serif;
}
body {
  background-color: #121212;
  color: white; 
}
.App {
  text-align: center;
}
.taskBackground {
  background-color: #555;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  border-radius: 6px;
  margin-bottom: 20px;
}
span{
 color: white; 
 font-family: Helvetica, Georgia, sans-serif;
}
.taskBackground div {
   display: flex;
  align-items: center; 
}
.taskBackground .taskText {
  flex: 1;
}
.taskBackground .isDone .taskText {
  opacity: 0.25;
  text-decoration: line-through;
}
.taskBackground .icons {
  position: absolute;
  top: 50%;
  right: 15px;
  width: auto;
  display: inline-block;
  transform: translateY(-50%);
}
.taskBackground .icons span {
   cursor: pointer;
  color: #00ff89;
  display: inline-block;
  margin: 0px 10px 0 10px;
}
taskBg .icons span:hover {
  color: yellow;
}
.mr-20 {
  margin-right: 20px;
}
.taskRank {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  display: flex; 
}
